/* dropdown with search */
.dropdown-search .dropdown-menu a {
      padding: 5px 20px;
}
.dropdown-search .dropdown-menu{
      width: 100%;
      padding: 0;
}
.dropdown-search .dropdown-toggle{
      width: 100%;
      color: #333;
      background-color: transparent !important;
      border-radius: 0;
      border: 1px solid rgba(0, 0, 0, .15);
      outline: 0;
      box-shadow: none !important;
}
.dropdown-search .dropdown-toggle::after{
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
}
.dropdown-search img{
      max-width: 20px;
}
.dropdown-search .dropdown-menu ul{
      max-height: 140px;
      overflow-y: scroll;
}
.dropdown-search .dropdown-menu > *{
      padding: 10px;
}
.dropdown-search .dropdown-item{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
}
.dropdown-filter-container{
      background-color: #efefef;
}
.dropdown-filter-container a {
      width: 30px;
      height: 30px;
      background-image: url("../images/close.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
}
.dropdown-search li *:not(:last-child){
      margin-right: 10px;
}